
// Global
$bg-color: #fafafa !default;
$font-size: 17px;

// Panel
$panel-pane-1-w: 70px !default;
$panel-pane-2-w: 350px !default;

$panel-pane-1-bg: inherit !default;
$panel-pane-2-bg: rgba(0, 0, 0, 0.08) !default;
$panel-pane-3-bg: inherit !default;

// Tooltips
$tooltip-margin: 5px;