
.text-center {
    display: block;
    text-align: center;
}

.text-muted {
    color: #999;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.v-hidden {
    visibility: hidden;
}

.fw-300 {
    font-weight: 300;
}