
.text-center {
    display: block;
    text-align: center;
}

.text-muted {
    color: #999;
}

.w-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.v-hidden {
    visibility: hidden;
}

.fw-300 {
    font-weight: 300;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

// Margins
.mt-1 {
    margin-top: 10px;
}